#In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. 
#Python Datetime module comes built into Python, so there is no need to install it externally.

In [1]:
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2024-05-17 09:20:02.454244

In [2]:
#Date object representing date in Python
# Python program to demonstrate date class
# import the date class
from datetime import date
# initializing constructor
# and passing arguments in the
# format year, month, date
my_date = date(1984, 12, 11)
 
print("Date passed as argument is", my_date)

Date passed as argument is 1984-12-11

In [3]:
# Write a python code to Get Current Date
from datetime import date
# calling the today
# function of date class
today = date.today()
 
print("Today's date is", today)

Today's date is 2024-05-17

In [4]:
# Write a python code to Get Todayâ€™s Year, Month, and Date
from datetime import date
today = date.today()
 
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2024
Current month: 5
Current day: 17

In [5]:
import numpy as np
import pandas as pd

In [6]:
# Write a python code to Get date from Timestamp
from datetime import datetime
 
# Getting Datetime from timestamp
date_time = datetime.fromtimestamp(1887639468)
print("Datetime from timestamp:", date_time)

Datetime from timestamp: 2029-10-25 21:47:48

In [7]:
# Write a python code to Convert Date to String
today = date.today() # calling the today
# Converting the date to the string
Str = date.isoformat(today)
print("String Representation", Str)
print(type(Str))

String Representation 2024-05-17
<class 'str'>

In [8]:
# demonstrate time class
 
from datetime import time
 
# calling the constructor
my_time = time(13, 24, 56)
 
print("Entered time", my_time)
 
# calling constructor with 1 argument
my_time = time(minute=12)
print("\nTime with one argument", my_time)
 
# Calling constructor with 0 argument
my_time = time()
print("\nTime without argument", my_time)

Entered time 13:24:56

Time with one argument 00:12:00

Time without argument 00:00:00

In [9]:
# Write a python program Get hours, minutes, seconds, and microseconds
from datetime import time
 
Time = time(11, 34, 56)
 
print("hour =", Time.hour)
print("minute =", Time.minute)
print("second =", Time.second)
print("microsecond =", Time.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [10]:
#  Time object to String
from datetime import time
 
# Creating Time object
Time = time(12,24,36,1212)
 
# Converting Time object to string
Str = Time.isoformat()
print("String Representation:", Str)
print(type(Str))

String Representation: 12:24:36.001212
<class 'str'>

In [11]:
# DateTime object representing DateTime in Python 
from datetime import datetime
 
# Initializing constructor
a = datetime(2022, 12, 12)
print(a)
 
# Initializing constructor
# with time parameters as well
a = datetime(2022, 12, 12, 12, 12, 12, 34230)
print(a)

2022-12-12 00:00:00
2022-12-12 12:12:12.034230

In [12]:
# Get year, month, hour, minute, and timestamp
from datetime import datetime
 
a = datetime(1999, 12, 12, 12, 12, 12)
 
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 1999
month = 12
hour = 12
minute = 12
timestamp = 944980932.0

In [13]:
# Timedelta function demonstration
 
from datetime import datetime, timedelta
 
# creating datetime objects
date1 = datetime(2020, 1, 3)
date2 = datetime(2020, 2, 3)
 
# difference between dates
diff = date2 - date1
print("Difference in dates:", diff)
 
# Adding days to date1
date1 += timedelta(days = 4)
print("Date 1 after 4 days:", date1)
 
# Subtracting days from date1
date1 -= timedelta(15)
print("Date 1 before 15 days:", date1)

Difference in dates: 31 days, 0:00:00
Date 1 after 4 days: 2020-01-07 00:00:00
Date 1 before 15 days: 2019-12-23 00:00:00

In [14]:
from datetime import timedelta
 
# Getting minimum value
Min = timedelta.min
print("Minimum value of timedelta object", Min)
 
# Getting minimum value
Max = timedelta.max
print("Maximum value of timedelta object", Max)

Minimum value of timedelta object -999999999 days, 0:00:00
Maximum value of timedelta object 999999999 days, 23:59:59.999999

In [15]:
#Calendar Module

In [16]:
# Display calendar of the given year.
import calendar
   
# using calendar to print calendar of year
# prints calendar of 2018
print ("The calendar of year 2022 is : ")
print (calendar.calendar(2022))

The calendar of year 2022 is :
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [17]:
# import html calendar 
import calendar
 
text_cal = calendar.HTMLCalendar(firstweekday = 0)
 
year = 2022
month = 9
# default value of width is 0
 
# printing formatmonth
print(text_cal.formatmonth(year, month))

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">September 2022</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="fri">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>